/* custom css  */



.displayHeight {
    min-height: 20.9vh;
    width: 100%;
}
.spin {
    position: absolute;
    top: 54%;
    left: 39%;
    display: none;
    height: 10rem;
    width: 16rem;
    filter: grayscale(1);
}